@use "@radix-ui/themes/styles.css";

$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial,
  sans-serif;

.radix-themes {
  --default-font-family: var(--font-orbitron), $font-family-base;
  --heading-font-family: var(--font-orbitron), $font-family-base;
  --code-font-family: var(--font-orbitron), $font-family-base;
  --strong-font-family: var(--font-orbitron), $font-family-base;
  --em-font-family: var(--font-orbitron), $font-family-base;
  --quote-font-family: var(--font-orbitron), $font-family-base;
}

body {
  font-family: var(--font-orbitron), $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
